extends layout

block content
  h1= title
  p You are welcomed on #{title}. Please bear in mind that this API is currently under heavy development.
  p To read more, please follow the link to the #[a(href="http://docs.townsapi.apiary.io/") Documentation]